apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: {{ control_plane_endpoint }}
networking:
  podSubnet: {{ pod_network_cidr }}
  serviceSubnet: 10.96.0.0/12
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
authorization:
  mode: Webhook
systemReserved:
  cpu: {{ system_reserved_cpu | default('100m') }}
  memory: {{ system_reserved_memory | default('250Mi') }}
kubeReserved:
  cpu: {{ kube_reserved_cpu | default('100m') }}
  memory: {{ kube_reserved_memory | default('250Mi') }}
evictionHard:
  memory.available: {{ eviction_hard_memory | default('100Mi') }}
  nodefs.available: {{ eviction_hard_disk | default('5%') }}
  nodefs.inodesFree: {{ eviction_hard_inodes | default('5%') }}
