apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  name: {{ node_name | default(inventory_hostname) }}
  criSocket: "unix:///var/run/containerd/containerd.sock"
  taints: []
  kubeletExtraArgs:
    node-ip: {{ node_internal_ip | default(ansible_host) }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: v{{ kubernetes_version }}
clusterName: {{ cluster_name | default('kubernetes') }}
controlPlaneEndpoint: {{ control_plane_endpoint }}
networking:
  podSubnet: {{ pod_network_cidr }}
  serviceSubnet: {{ service_network_cidr }}
  dnsDomain: cluster.local
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
address: {{ node_internal_ip | default(ansible_host) }}
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
authorization:
  mode: Webhook
systemReserved:
  cpu: {{ system_reserved_cpu | default('100m') }}
  memory: {{ system_reserved_memory | default('250Mi') }}
kubeReserved:
  cpu: {{ kube_reserved_cpu | default('100m') }}
  memory: {{ kube_reserved_memory | default('250Mi') }}
evictionHard:
  memory.available: {{ eviction_hard_memory | default('100Mi') }}
  nodefs.available: {{ eviction_hard_disk | default('5%') }}
  nodefs.inodesFree: {{ eviction_hard_inodes | default('5%') }}
